<!DOCTYPE html>
<html>
<head>
  <title>Reset Password with OTP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image:url(../../static/img/back.png); background-size: cover;">
<div class="container mt-5">
  <h1 class="text-center mb-4" style="color: white">Reset Password with OTP</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div th:if="${param.error}" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong>
            <span th:text="${param.error}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <form th:action="@{/user/resetPass}" method="post" class="border p-4 rounded bg-light">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" th:value="${email}" readonly>
        </div>

        <div class="form-group">
          <label for="otp">OTP Code:</label>
          <input type="text" class="form-control" id="otp" name="otp" maxlength="6" pattern="\d{6}" required>
        </div>

        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" class="form-control" id="newPassword" name="password" required>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm New Password:</label>
          <input type="password" class="form-control" id="confirmPassword" name="cPassword" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
      </form>
      <a class="btn btn-secondary btn-block mt-3" id="sendOtpBtn" th:href="@{/user/sendResetPass/{email}(email=${email})}" >Resend OTP</a>
    </div>
  </div>
</div>
<script>
</script>
</body>
</html>
